name: Coverage

on: [push, pull_request]

jobs:
    coverage:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup Rust
              uses: ./.github/actions/setup-rust
              with:
                  components: llvm-tools-preview

            - name: Install cargo-tarpaulin
              run: |
                  cargo install cargo-tarpaulin

            - name: Run tarpaulin and generate report
              run: |
                  cargo tarpaulin --out Xml

            - name: Upload to Codecov
              uses: codecov/codecov-action@v4
              with:
                  file: ./cobertura.xml
                  flags: unittests
                  name: codecov-umbrella
                  fail_ci_if_error: false
