name: Publish Package

permissions:
  id-token: write
  contents: write

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build-npm:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest] # 多系统
        # node-version: [20, 22] # 多 Node 版本
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: ./.github/actions/setup-node
        with:
          #node_version: ${{ inputs.node_version }}
          use_registry: "true"

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Install dependencies
        run: pnpm install

      - name: Build binary node use NAPI
        run: pnpm run build:napi

      - name: Save node release
        shell: bash
        run: |
          node_abi=$(node -p "process.versions.modules")
          os_name=$(node -p "process.platform")
          arch_name=$(node -p "process.arch")
          echo "Node ABI: $node_abi, OS: $os_name, Arch: $arch_name"

          mkdir -p release/node/
          cp pkg/*.node release/node/

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: node-release-${{matrix.os}}
          path: release

  build-cli:
    name: Build CLI binaries for executables
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: ./.github/actions/setup-rust
        with:
          components: rustfmt, clippy

      - name: Cargo build
        run: |
          cargo build --release

      - name: Copy executable
        shell: bash
        run: |
          os_name=$(node -p "process.platform")
          echo "OS: $os_name"

          mkdir -p release/cli/$os_name
          if [ "$RUNNER_OS" == "Windows" ]; then
            cp target/release/type_flat.exe release/cli/$os_name/type-flat.exe
          else
            cp target/release/type_flat release/cli/$os_name/type-flat
            chmod +x release/cli/$os_name/type-flat
          fi
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: cli-release-${{ matrix.os }}
          path: release

  publish-npm:
    name: Publish
    runs-on: ubuntu-latest
    needs: [build-npm, build-cli]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: ./.github/actions/setup-node
        with:
          use_registry: "true"

      - name: Setup Rust
        uses: ./.github/actions/setup-rust

      - name: Ensure no npmrc
        run: |
          rm -f ~/.npmrc
          rm -f .npmrc

      - name: Debug
        run: |
          npm -v
          npm config get registry
          npm config list

      - name: Install dependencies
        run: pnpm install

      - name: Build binary napi pkg
        run: pnpm run build:napi

      - name: Build entry
        run: pnpm run build:es

      - name: Download all release
        uses: actions/download-artifact@v5
        with:
          path: release
          merge-multiple: true

      - name: List all release
        run: ls -R release
        shell: bash
      - name: Copy node release
        run: |
          cp -r release/* dist/

      - name: Generate changelog
        run: npx changelogithub --no-group
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: npm publish
      # - run: pnpm run publish:npm
      # env:
      # NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      # NPM_CONFIG_PROVENANCE: true
