name: Publish Package

permissions:
  id-token: write
  contents: write

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build-npm:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22] # 多 Node 版本
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install dependencies
        run: pnpm install

      - name: Build binary node use NAPI
        run: pnpm run build:napi

      - name: Save node release
        run: |
          mkdir -p release/node/${{ matrix.node-version }}
          cp pkg/type-flat.node release/node/${{ matrix.node-version }}/type-flat.node
      
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: node-release-${{ matrix.node-version }}
          path: release/node
          
  build-cli:
    name: Build CLI binaries
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: Cargo build
        run: |
          cargo build --release

      - name: Copy executable
        shell: bash
        run: |
          mkdir -p release/cli
          if [ "$RUNNER_OS" == "Windows" ]; then
            cp target/release/type_flat.exe release/cli/type-flat.exe
          else
            cp target/release/type_flat release/cli/type-flat
          fi
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: cli-release-${{ matrix.os }}
          path: release/cli
          
  publish-npm:
    name: Publish
    runs-on: ubuntu-latest
    needs: [build-npm, build-cli]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build entry
        run: pnpm run build:es

      - name: Download Node 20
        uses: actions/download-artifact@v5
        with:
          name: node-release-20
          path: release/node/20
          
      - name: Download Node 22
        uses: actions/download-artifact@v5
        with:
          name: node-release-22
          path: release/node/22
      
      - name: Download CLI windows-latest
        uses: actions/download-artifact@v5
        with:
          name: cli-release-windows-latest
          path: release/cli/windows
          
      - name: Download CLI macos-latest
        uses: actions/download-artifact@v5
        with:
          name: cli-release-macos-latest
          path: release/cli/macos
          
      - name: Download CLI ubuntu-latest
        uses: actions/download-artifact@v5
        with:
          name: cli-release-ubuntu-latest
          path: release/cli/ubuntu
          
      - name: Copy node release
        run: |
          cp -r release/* dist/

      - name: Generate changelog
        run: npx changelogithub --no-group
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: pnpm run publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
          NPM_CONFIG_PROVENANCE: true
